<div class="container p-0 mt-5 pt-5">
    <div class="d-flex flex-column align-items-center m-5">
        <h1>Our best blogs?</h1>
        <p>An insight to incredible experiences in the world</p>
    </div>


    <div class="d-flex flex-row justify-content-end me-5 mb-4 ">
        <div class="div-nav-underline d-flex flex-column justify-content-evenly active">
            <a class="blog-nav active mx-4" href="">All</a>
        </div>
        <div class="div-nav-underline d-flex flex-column justify-content-evenly">
            <a class="blog-nav  mx-4" href="">Capacida</a>
        </div>
        <div class="div-nav-underline d-flex flex-column justify-content-evenly">
            <a class="blog-nav  mx-4" href="">Thailand</a>
        </div>
        <div class="div-nav-underline d-flex flex-column justify-content-evenly">
            <a class="blog-nav  mx-4" href="">Turkey</a>
        </div>
        <div class="div-nav-underline d-flex flex-column justify-content-evenly">
            <a class="blog-nav mx-4" href="">Italy</a>
        </div>
    </div>






    <div class="h-100 d-flex flex-row justify-content-evenly">


        <div class="card mb-3 border-0" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Material/cliffwater.jpg" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100 d-flex flex-column justify-content-between">
                        <h5 class="card-title">Beautiful Italy.Let's Travel!</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a class="card-foot-orng" href="">Read more
                                    <span class="rightarrow">➝</span>

                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3 border-0" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Material/mancliff.jpg" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100 d-flex flex-column justify-content-between">
                        <h5 class="card-title">Beautiful Italy.Let's Travel!</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a class="card-foot-orng" href="">Read more
                                    <span class="rightarrow">➝</span>

                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="h-100 d-flex flex-row justify-content-evenly">


        <div class="card mb-3 border-0" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Material/mountriver.jpg" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100 d-flex flex-column justify-content-between ms-2">
                        <h5 class="card-title">Beautiful Italy.Let's Travel!</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a class="card-foot-orng" href="">Read more <span class="rightarrow">➝</span>

                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3 border-0" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="Material/pisa.jpg" class="img-fluid rounded" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body h-100 d-flex flex-column justify-content-between ms-2">
                        <h5 class="card-title">Beautiful Italy.Let's Travel!</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p class="card-text">
                            <small class="text-muted">
                                <a class="card-foot-orng" href="">Read more
                                    <span class="rightarrow">➝</span>

                                </a>
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>