<div class="container mb-5 pb-5">
    <div class="d-flex flex-column align-items-center mt-5 pt-5">
        <h1 class="mb-4">Special Offers</h1>
        <p class="subhead-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.</p>
    </div>

    <div class="container">
        <div class="card-group">

            <div class="h-100 d-flex justify-content-between">
                <div class="card">
                    <img src="Material/foresthouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-3 py-0">For Sale</button>
                        </div>

                        <div class="card-text">
                            <div class="d-inline-flex flex-row">
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>




                <div class="card">
                    <img src="Material/foresthouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-3 py-0">For Sale</button>
                        </div>

                        <div class="card-text">
                            <div class="d-inline-flex flex-row">
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>


                <div class="card">
                    <img src="Material/foresthouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-3 py-0">For Sale</button>
                        </div>

                        <div class="card-text">
                            <div class="d-inline-flex flex-row">
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>
                                <div class=" d-inline-flex flex-column ">
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                    <button class="subpic-feat-btn me-3">
                                        <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg"
                                            fill-rule="evenodd" clip-rule="evenodd">
                                            <path
                                                d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                        </svg>
                                        <span class="ps-2">2 Beds</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>