<div class="container">
    <div class="row g-4">
        <div class="col">
            <div class="card w-100 h-100 border-0">
                <img src="Material/lighthouse.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        01
                        <hr class="hr">
                    </h5>
                    <p class="card-text container align-items-end">Grabowska
                        <span class="card-text-dot ">

                        </span>
                        Pexels
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card w-100 h-100 border-0">
                <img src="Material/REimg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        02
                        <hr class="hr">
                    </h5>
                    <p class="card-text container align-items-end">Grabowska
                        <span class="card-text-dot ">

                        </span>
                        Pexels
                    </p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card w-100 h-100 border-0">
                <img src="Material/houseinriver.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        03
                        <hr class="hr">
                    </h5>
                    <p class="card-text container align-items-end">Grabowska
                        <span class="card-text-dot ">

                        </span>
                        Pexels
                    </p>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card w-100 h-100 border-0">


                <div class="text-on-img-div">
                    <img src="Material/houseonhill.jpg" class="card-img-top dimmed" alt="...">
                    <div class="inside-pic d-flex flex-column justify-content-between">
                        <div class="flex-row d-flex justify-content-start">
                            <div class="d-flex flex-column ms-4">
                                <h1>Dainree <br> Rainforest</h1>
                                <p>London City</p>
                            </div>
                        </div>
                        <div class="d-flex flex-row justify-content-end me-3">

                            <button class="arrowbtn right-orng">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                                </svg>
                            </button>

                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <h5 class="card-title active">
                        04
                        <hr class="hr active">
                    </h5>
                    <p class="card-text container align-items-end">Grabowska
                        <span class="card-text-dot ">

                        </span>
                        Pexels
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>