<div class="container searchbar px-4 py-4">
    <div class="row gy-5">
        <div class="col ">
            <label for="location">Location</label>
        </div>
        <div class="col">
            <label for="type">Type</label>
        </div>
        <div class="col">
            <label for="price">Price Range</label>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <a href="" class="searchbtn ">Search</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <input type="text" placeholder="Cairo, Egypt" id="location">
        </div>
        <div class="col">
            <input type="text" placeholder="15/ Meters" id="type">
        </div>
        <div class="col">
            <input type="text" placeholder="$410 - $1110" id="price">
        </div>

    </div>

</div>