<div class="container">
    <div class="d-flex flex-column align-items-center mt-5 pt-5">
        <h1 class="mb-4">Special Offers</h1>
        <p class="subhead-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.</p>
    </div>
    <div class="row mt-3">



        <div class="col">
            <div class="card w-100 border-0">

                <div class="rel-img-div">
                    <img src="Material/lighthouse.jpg" class="card-img-top" alt="...">
                    <a href="" class="details-btn selected abs">30% Off</a>
                </div>

                <div class="card-body drop-shadow">
                    <div class="container gx-5">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                    </div>
                    <div class="container gx-5 mt-2">

                        <div class="d-flex flex-row justify-content-start mb-3">
                            <button class="subpic-feat-btn me-3">

                                <span class="">2 Beds</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Baths</span>
                            </button>
                        </div>

                        <div class="d-flex flex-row justify-content-start">
                            <button class="subpic-feat-btn me-3">

                                <span class="">Taward</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Bedroom</span>
                            </button>
                        </div>


                        <div class="d-flex flex-row justify-content-start location mt-2">
                            450 Seatle ,NY, USA
                        </div>

                        <div class="d-flex flex-row justify-content-end ">
                            <a href="" class="details-btn selected">View Details</a>
                        </div>



                    </div>
                </div>
            </div>
        </div>


        <div class="col">


            <div class="card w-100 border-1">

                <div class="rel-img-div">
                    <img src="Material/cabinwater.jpg" class="card-img-top" alt="...">
                    <a href="" class="details-btn selected abs">30% Off</a>
                </div>

                <div class="card-body">
                    <div class="container gx-5">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                    </div>
                    <div class="container gx-5 mt-2">

                        <div class="d-flex flex-row justify-content-start mb-3">
                            <button class="subpic-feat-btn me-3">

                                <span class="">2 Beds</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Baths</span>
                            </button>
                        </div>

                        <div class="d-flex flex-row justify-content-start">
                            <button class="subpic-feat-btn me-3">

                                <span class="">Taward</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Bedroom</span>
                            </button>
                        </div>


                        <div class="d-flex flex-row justify-content-start location mt-2">
                            450 Seatle ,NY, USA
                        </div>

                        <div class="d-flex flex-row justify-content-end ">
                            <a href="" class="details-btn">View Details</a>
                        </div>



                    </div>
                </div>
            </div>



        </div>




        <div class="col">

            <div class="card w-100 border-1">

                <div class="rel-img-div">
                    <img src="Material/woodcabin.jpg" class="card-img-top" alt="...">
                    <a href="" class="details-btn selected abs">30% Off</a>
                </div>

                <div class="card-body">
                    <div class="container gx-5">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                    </div>
                    <div class="container gx-5 mt-2">

                        <div class="d-flex flex-row justify-content-start mb-3">
                            <button class="subpic-feat-btn me-3">

                                <span class="">2 Beds</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Baths</span>
                            </button>
                        </div>

                        <div class="d-flex flex-row justify-content-start">
                            <button class="subpic-feat-btn me-3">

                                <span class="">Taward</span>
                            </button>
                            <button class="subpic-feat-btn me-3">

                                <span class="">Bedroom</span>
                            </button>
                        </div>


                        <div class="d-flex flex-row justify-content-start location mt-2">
                            450 Seatle ,NY, USA
                        </div>

                        <div class="d-flex flex-row justify-content-end ">
                            <a href="" class="details-btn">View Details</a>
                        </div>



                    </div>
                </div>
            </div>


        </div>



    </div>
</div>