<div class="container">
    <div class="row g-4">
        <div class="col">
            <div class="card h-100">
                <img src="Material/roaddesert.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        01
                        <hr class="hr">
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="Material/REimg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        02
                        <hr class="hr">
                    </h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="Material/lighthouse.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        03
                        <hr class="hr active">
                    </h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                        additional
                        content. This card has even longer content than the first to show that equal height action.</p>
                </div>
            </div>
        </div>
    </div>
</div>