<div class="container">
    <div class="d-flex flex-column align-items-center mt-5 pt-5">
        <h1 class="mb-4">Special Offers</h1>
        <p class="subhead-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.</p>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="row">
            <div class="col-4">
                <div class="card h-100">
                    <img src="Material/foresthouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380 <button class="salebtn px-2">For Sale</button></h5>

                        </div>
                        <p class="card-text">
                        <div class="d-flex ">
                            <div class="">
                                <button class="subpic-feat-btn me-3">
                                    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                                        clip-rule="evenodd">
                                        <path
                                            d="M24 19v-7c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-22c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v7h1v-2h22v2h1zm-19-9v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h2v-1c0-.552.448-1 1-1h4c.552 0 1 .448 1 1v1h3v-4c0-.265-.105-.52-.293-.707-.187-.188-.442-.293-.707-.293h-18c-.265 0-.52.105-.707.293-.188.187-.293.442-.293.707v4h3z" />
                                    </svg>
                                    <span class="ps-2">2 Beds</span>
                                </button>

                            </div>


                        </div>
                        </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Material\cabinwater.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>

                        <p class="card-text">

                        </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Material\woodcabin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                        <p class="card-text">

                        </p>

                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>