<div class="container">
    <div class="d-flex flex-column align-items-center mt-5 pt-5">
        <h1 class="mb-4">Special Offers</h1>
        <p class="subhead-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.</p>
    </div>
    <div class="d-flex justify-content-evenly">
        <div class="row">
            <div class="col-4">
                <div class="card h-100">
                    <img src="Material/foresthouse.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                        <p class="card-text">This is a wider card </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Material\cabinwater.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>

                        <p class="card-text">This is a wider card </p>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="Material\woodcabin.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title price">$7,380</h5>
                            <button class="salebtn px-2">For Sale</button>
                        </div>
                        <p class="card-text">
                        <div class="d-flex">
                            <div class="row">
                                <div class="col">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                                            <path
                                                d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                                            <path
                                                d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                                            <path
                                                d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col">
                                    <button>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-truck-flatbed" viewBox="0 0 16 16">
                                            <path
                                                d="M11.5 4a.5.5 0 0 1 .5.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-4 0 1 1 0 0 1-1-1v-1h11V4.5a.5.5 0 0 1 .5-.5zM3 11a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm1.732 0h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4a2 2 0 0 1 1.732 1z" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </p>

                    </div>
                    <div class="card-footer">

                    </div>
                </div>

            </div>
        </div>


    </div>
</div>