<div class="container pt-5 mt-5">

    <h1>Destination Gallery</h1>
    <div class="d-flex flex-row justify-content-between">
        <p class="subhead-p">Lorem ipsum dolor sit amet consectetur adipisicing
            elit.
            <br>Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit.
        </p>
        <button class="gallerybtn">

            <span class="me-3">View All</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" fill="currentColor" class="bi bi-arrow-right"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
        </button>

    </div>


    <div class="gallery">
        <h4 class="gallerytitle">Our photo gallery on trip </h4>
        <div class="d-flex justify-content-between ">

            <div class="card text-bg-dark flex-grow-1">
                <img src="Material/mountainroad.jpg" class="card-img tinted" alt="...">
                <div class="card-img-overlay d-flex flex-row justify-content-center align-items-center">
                    <h5 class="card-title white">30+</h5>


                </div>
            </div>

            <div class="card text-bg-dark">
                <img src="Material/yellowcabin.jpg" class="card-img" alt="...">
                <div class="card-img-overlay d-flex flex-column align-items-start justify-content-end ps-4">
                    <h6 class="card-title white md">Vacation rentals</h6>
                    <p class="card-title white sm">156,789 Properties</p>


                </div>
            </div>

            <div class="card text-bg-dark">
                <img src="Material/cliffcabin.jpg" class="card-img card2" alt="...">
                <div class="card-img-overlay d-flex flex-column align-items-start justify-content-end">
                    <h6 class="card-title white md">Vacation rentals</h6>
                    <p class="card-title white sm">156,789 Properties</p>


                </div>
            </div>

        </div>
    </div>

</div>