<div class="container mt-5 pt-5">
    <div class=" d-flex justify-content-center ">
        <h1 class="Title">Why Hikings ?</h1>
    </div>

    <div class="d-flex justify-content-evenly mt-5 pt-3">

        <div class="d-flex flex-column justify-content-center align-items-center me-5">
            <img class="icon purple" src="Material/nobgicon1.png" alt="">
            <h1 class="subicon mb-5">100+ Mountains</h1>
            <p class="subicon-p">Lorem, ipsum dolor sit amet consectetur.

            </p>
            <p class="subicon-p">nesciunt libero ducimus adipisci,
            </p>
            <p class="subicon-p">Pariatur in, omnis eos est minus distinctio,

            </p>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center me-5 ms-5">
            <img class="icon purple" src="Material/hikingicon.jpg" alt="">
            <h1 class="subicon mb-5">1000+ Hikes</h1>
            <p class="subicon-p">Lorem, ipsum dolor sit amet consectetur.

            </p>
            <p class="subicon-p">nesciunt libero ducimus adipisci,
            </p>
            <p class="subicon-p">Pariatur in, omnis eos est minus distinctio,

            </p>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center ms-5">
            <img class="icon purple" src="Material/custserv1.png" alt="">
            <h1 class="subicon mb-5">20,000+ Customers</h1>
            <p class="subicon-p">Lorem, ipsum dolor sit amet consectetur.

            </p>
            <p class="subicon-p">nesciunt libero ducimus adipisci,
            </p>
            <p class="subicon-p">Pariatur in, omnis eos est minus distinctio,

            </p>
        </div>



    </div>
</div>